* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    background-color: cadetblue;
    color: rgb(110, 56, 56);
    border: 1em, brown, dotted;
    
    margin: 10px auto;
}

.heading {
    width: 500px;
}

.recipe-master-list {
    width: 500px;
}

.list {
    width: 500px;
}
.body-text {
    width: 500px;
}

.img {
    width: max-content;
}

.copyright {
    width: 500px;
    text-align: center;
}
/* Duncan Shipton 2022 */