* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    background-color: cadetblue;
    color: rgb(110, 56, 56);
    margin: 10px auto;
}

.heading {
    border: 2px dotted rgb(110, 56, 56);
    border-radius: 12px;
    width: 500px;
    text-align: center;
}

.subheading {
    text-align: center;
}

.list {
    width: 500px;
    border: 2px dotted rgb(110, 56, 56);
    border-radius: 12px;
    text-align: center;
    padding: 0px;
}

.list-img {
    box-sizing: border-box;
    border-radius: 12px;
}

.body-text {
    max-width: 500px;
    border: 2px dotted rgb(110, 56, 56);
    border-radius: 12px;
    padding: 16px;
    text-align: left;
}

.img {
    width: max-content;
    border-radius: 12px;
}

.copyright {
    width: 500px;
    text-align: center;
}
/* Duncan Shipton 2022 */